<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Lab4</title>
</head>
<body>

    <header>
        <h1>Lab4</h1>
        <nav>
            <a href="#">الرئيسية</a>
            <a href="#">الكليات</a>
            <a href="#">المحاضرات</a>
            <a href="#">التواصل</a>
        </nav>
    </header>