<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello</h1>

    <ul>
        <li><a href="{% url 'one' %}">Show One</a></li>
        <li><a href="{% url 'edit' %}">Edit One</a></li>
        <li><a href="{% url 'delete' %}">Delete One</a></li>
        <li><a href="{% url 'var' %}">Variables</a></li>
        <li><a href="{% url 'filters' %}">Filters</a></li>
        <li><a href=""></a></li>
    </ul>
</body>
</html>